SECRET_KEY=replace-with-a-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,testserver,.onrender.com
CSRF_TRUSTED_ORIGINS=https://*.onrender.com
TIME_ZONE=Africa/Lagos
ADMIN_EMAIL=smithlinda99360@gmail.com
ADMIN_PASSWORD=Admin2026
